<% layout('layouts/boilerplate') -%>
<!-- PAGE HEADER -->
<header>
	<div class="container">
		<div class="jumbotron jumbotron-fluid tools-jumbotron">
		  	<div class="container">
		    	<h1 class="font-italic page-title">Tools to help you grown your brand</h1>
		    	<p class="lead">Be ahead of your competition with our top recommended tools to boost your hustle.</p>
		  	</div>
		</div>
	</div>
</header>
<!-- PAGE HEADER -->

<!-- MAIN SECTION START -->
<main
	id="main"
	class="main container"
	tabindex="-1"
	role="main"
>

	<nav class="breadcrumbNav" aria-label="breadcrumb">
  		<ol class="breadcrumb">
    		<li class="breadcrumb-item"><a class="color-blue" href="/">Home</a></li>
    		<li class="breadcrumb-item active" aria-current="page">Tools</li>
  		</ol>
	</nav>

  	<div class="row"><!-- ROW -->
  		<!-- MAIN CONTENT START -->
    	<div class="col-md-8 blog-main">
    		<!-- PRODUCT ROW -->
      		<div class="row justify-content-center">
      			<% tools.docs.forEach(function(tool){ %>
	      				<div class="col-md-6 product"><!-- Product Container -->
			      			<div class="card" style="width: 18rem;">
			      				<% tool.images.forEach(function(image){ %>
				          			<img
				          				src="<%= image.url %>"
				          				class="card-img-top img-responsive"
				          				alt="<%= tool.title %>'s image"
				          				title="<%= tool.title %>'s image"
				          				loading="lazy"
				          			/>
			          			<% }) %>
							  	<div class="card-body">
							    	<h3 class="card-title footer-heading"><%= tool.title %></h3>
							    	<p class="card-text"><%- tool.description.substring(0, 100) %>[...]</p>
							    	<a href="/tools/<%= tool.id %>" class="btn btn-alt">View Tool</a>
							  	</div>
							</div>
			      		</div><!-- Product Container -->
		        <% }); %>
      		</div>
      		<!-- PRODUCT ROW -->

      		<!-- PAGINATION -->
			<% include ../partials/paginateTools %>
    	</div>
    	<!-- MAIN CONTENT END -->

    	<!-- SIDEBAR START -->
    	<aside class="col-md-4 blog-sidebar">
    		<% include ../partials/sidebar %>
    	</aside>
    	<!-- SIDEBAR END -->

  	</div><!-- ROW -->
</main>
<!-- MAIN SECTION START -->

<script>
	var tools = { features: <%- JSON.stringify(tools) %> };
</script>
