<aside>
	<div class="accordion sidebar" id="accordionExample">
	  	<div class="card border">
	    	<div class="card-header" id="headingOne">
	      		<h2 class="mb-0">
	        		<button 
	        			class="btn btn-link btn-block text-left" 
	        			type="button" 
	        			data-toggle="collapse" 
	        			data-target="#collapseOne" 
	        			aria-expanded="true" 
	        			aria-controls="collapseOne"
	        		>
	          			Filter Tools
	        		</button>
	      		</h2>
	    	</div>

	    	<div 
	    		id="collapseOne" 
	    		class="collapse hide" 
	    		aria-labelledby="headingOne" 
	    		data-parent="#accordionExample"
	    	>
	      		<div class="card-body">
	        		<nav class="sideNav" aria-label="page">
						<form action="/tools" method="GET">
							<fieldset>
								<legend>By Search</legend>
								<div class="form-group">
									<label for="search" class="visuallyHidden">Search</label>
									<input 
										type="search" 
										name="search"
										id="search"
										class="form-control" 
										placeholder="Search Tools"  
										value="<%= query.search %>" 
										aria-label="Search"
									\>
								</div>
							</fieldset>

							<fieldset>
								<legend>By Category</legend>
								<div class="form-group form-check">
									<input 
										type="checkbox"  
										name="category[]" 
										value="Web Development"
										id="webDev"
										class="form-check-input"
										<%= query.category && query.category.includes('Web Development') ? 'checked' : '' %>
									/>
									<label for="webDev">Web Development</label>
								</div>
								<div class="form-group form-check">
									<input 
										type="checkbox" 
										name="category[]"
										value="Social Media" 
										id="social"
										class="form-check-input"
										<%= query.category && query.category.includes('Social Media') ? 'checked' : '' %>
									/>
									<label for="social">Social Media</label>
								</div>
								<div class="form-group form-check">
									<input 
										type="checkbox" 
										name="category[]"
										value="Sofware" 
										id="software"
										class="form-check-input"
										<%= query.category && query.category.includes('Sofware') ? 'checked' : '' %>
									/>
									<label for="software">Sofware</label>
								</div>	
								<div class="form-group form-check">
									<input 
										type="checkbox" 
										name="category[]"
										value="Digital Marketing"  
										id="marketing"
										class="form-check-input"
										<%= query.category && query.category.includes('Digital Marketing') ? 'checked' : '' %>
									/>
									<label for="marketing">Digital Marketing</label>
								</div>	
								<div class="form-group form-check">
									<input 
										type="checkbox" 
										value="Make Money Online" 
										name="category[]" 
										id="makeMoney"
										class="form-check-input"
										<%= query.category && query.category.includes('Make Money Online') ? 'checked' : '' %>
									/>
									<label for="makeMoney">Make Money Online</label>
								</div>
							</fieldset>

							<div class="form-group">
								<a class="reset" href="/tools">Reset filter</a>
							</div>
							<div class="form-group">
								<input 
									type="submit" 
									class="btn sidebar-btn" 
									value="Apply filter"
								/>
							</div>
						</form>
					</nav>
	      		</div>
	    	</div>
	  	</div>
	</div>
</aside>
