<h2 class="sr-only">Side Bar</h2>

<div class="p-4 mb-3 bg-light rounded side-about">
	<h3 class="font-italic">About</h3>
	<!-- About -->
	<img
		src="/images/tagline.png"
		class="image-responsive about-img"
		alt="Suburban Digi Hustle About Tag Line Image"
	   title="Suburban Digi Hustle About Tag Line Image"
	   loading="lazy"
	/>

	<p><strong>Suburban Digi Hustle</strong> provides its community with best insights, guides, tips and tools to help them grow their <em>business and personal brand</em> online.</P>

	<P>We specialize in Web Development, Digital Marketing, Social Media Platforms, Marketing Software and strategies of How To Make Money Online.</p>

	<p>We are passionate about the <em>digital world</em> and excited to provide our audience with the best and most vuluable information. <a class="color-blue" href="/about">Learn more!</a></p>
</div>


<!-- Guides -->
<div class="p-4">
	<h3 class="font-italic">Beginner Guides</h3>
	<ul class="side-list">
		<% posts.docs.forEach(function(post){ %>
			<% if (post.guideArticle) { %>
				<% if (typeof page !== 'undefined' && page === 'web-dev') { %>
					<li><a class="color-blue" href="<%= post.slug %>"><%= post.title %></a></li>
				<% } else if (typeof page !== 'undefined' && page === 'social-media') { %>
					<li><a class="color-blue" href="<%= post.slug %>"><%= post.title %></a></li>
				<% } else if (typeof page !== 'undefined' && page === 'software') { %>
					<li><a class="color-blue" href="<%= post.slug %>"><%= post.title %></a></li>
				<% } else if (typeof page !== 'undefined' && page === 'digital-marketing') { %>
					<li><a class="color-blue" href="<%= post.slug %>"><%= post.title %></a></li>
				<% } else if (typeof page !== 'undefined' && page === 'make-money-online') { %>
					<li><a class="color-blue" href="<%= post.slug %>"><%= post.title %></a></li>
				<% } else if (typeof page !== 'undefined' && page === 'post-show') { %>
					<li><a class="color-blue" href="<%= post.slug %>"><%= post.title %></a></li>
				<% } else { %>
					<li><a class="color-blue" href="blog/<%= post.slug %>"><%= post.title %></a></li>
				<% } %>
			<% } %>
		<% }); %>
	</ul>
</div>


<!-- Popular Articles -->
<div class="p-4">
	<h3 class="font-italic">Popular Articles</h3>
	<ul class="side-list">
		<% posts.docs.forEach(function(post){ %>
			<% if (post.popularArticle) { %>
				<% if (typeof page !== 'undefined' && page === 'web-dev') { %>
					<li><a class="color-blue" href="<%= post.slug %>"><%= post.title %></a></li>
				<% } else if (typeof page !== 'undefined' && page === 'social-media') { %>
					<li><a class="color-blue" href="<%= post.slug %>"><%= post.title %></a></li>
				<% } else if (typeof page !== 'undefined' && page === 'software') { %>
					<li><a class="color-blue" href="<%= post.slug %>"><%= post.title %></a></li>
				<% } else if (typeof page !== 'undefined' && page === 'digital-marketing') { %>
					<li><a class="color-blue" href="<%= post.slug %>"><%= post.title %></a></li>
				<% } else if (typeof page !== 'undefined' && page === 'make-money-online') { %>
					<li><a class="color-blue" href="<%= post.slug %>"><%= post.title %></a></li>
				<% } else if (typeof page !== 'undefined' && page === 'post-show') { %>
					<li><a class="color-blue" href="<%= post.slug %>"><%= post.title %></a></li>
				<% } else { %>
					<li><a class="color-blue" href="blog/<%= post.slug %>"><%= post.title %></a></li>
				<% } %>
			<% } %>
		<% }); %>
	</ul>
</div>



<!-- Free Ebook -->
<div class="p-4">
	<h3 class="font-italic">Free eBook</h3>

	<p class="lead">Subscribe To Our Newsletter And Get Your Free eBook!</p>

	<img
		src="/images/ebook.jpg"
		alt="eBook image"
		title="eBook image"
		loading="lazy"
		class="img-responsive ebook"
		width="300"
	/>
	<form action="/" method="POST" id="subscribe">
		<div class="form-group">
			<label for="firstName">First Name</label>
			<input
				type="text"
				name="firstName"
				id="firstName"
				class="form-control"
				maxlength="30"
				pattern="[A-Za-z]{2,}"
				title="First name must be a series of alphabetic characters only (min 2, max 30)."
				placeholder="John"
				required
			/>
		</div>
		<div class="form-group">
			<label for="email">Email</label>
		  	<input
		  		type="email"
		  		class="form-control"
		  		name="email"
		  		maxlength="150"
				pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
				title="Email must follow this pattern: characters@characters.domain (should include '@' sign, '.' followed by atleast 2 characters)."
				placeholder="you@example.com"
		  		required
		  	/>
		</div>
	  	<div class="form-group">
	    	<button class="btn form-btn" id="download-btn">
	    		Subscribe Now!
	    	</button>
	  	</div>
	</form>
</div>
