<% layout('layouts/boilerplate') -%>
<section id="featured">
	<div class="container">
		<div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
			<% posts.docs.forEach(function(post){ %>
				<% if (post.mainPost) { %>
				    <div class="col-md-7 px-0">
				      	<h1 class="main-title font-italic"><%= post.title %></h1>
				      	<p class="lead my-3"><%= post.body.substring(0, 200) %>...</p>
				      	<p class="lead mb-0">
				      		<a href="/posts/<%= post.id %>" class="text-white font-weight-bold stretched-link">
				      			Continue reading
				      		</a>
				      	</p>
				    </div>
			    <% } %>
		    <% }); %>
		</div>

	  	<div class="row mb-2">
	  		<% posts.docs.forEach(function(post){ %>
				<% if (post.featuredPost) { %>
	    			<div class="col-md-6"> 		
			      		<div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
			        		<div class="col p-4 d-flex flex-column position-static">
			          			<strong class="d-inline-block mb-2 text-primary">#<%= post.category %></strong>
			          			<h2 class="mb-0"><%= post.title %></h2>
			          			<div class="mb-1 text-muted"><%= moment(post.createdAt).format('MMM DD') %></div>
			          			<p class="card-text mb-auto"><%= post.body.substring(0, 50) %>...</p>
			          			<a href="/posts/<%= post.id %>" class="stretched-link">Continue reading</a>
			        		</div>
			        		<div class="col-auto d-none d-lg-block">
			        			<% post.images.forEach(function(image){ %>	
				          			<img 
				          				src="<%= image.url %>"
				          				class="img-responsive" 
				          				width="200" height="250" 
				          				alt="<%= post.title %>'s image" 
				          				title="<%= post.title %>'s image"
				          				loading="lazy"
				          			/>
			          			<% }) %>
			        		</div>
			      		</div>
	    			</div>
	    		<% } %>
		    <% }); %>
	  	</div>
	</div>
</section>

<main
	id="main" 
	class="main container"
	tabindex="-1"
	role="main">
  	<div class="row">
    	<div class="col-md-8 blog-main">
      		<h3 class="pb-4 mb-4 font-italic border-bottom">
        		Popular Articles!
      		</h3>

      		<div class="blog-post">
      			<% posts.docs.forEach(function(post){ %>
	      			<article>
	      				<header class="blog-post-header">
			        		<h2 class="blog-post-title"><%= post.title %></h2>
			        		<p class="blog-post-meta"><%= moment(post.createdAt).format('MMMM DD, YYYY') %></p>
			        		<strong class="d-inline-block mb-2 text-primary">#<%= post.category %></strong>
						</header>
						<section class="blog-post-body">	
		        			<p><%= post.body.substring(0, 300) %>...</p>
				        </section>
				        <footer class="blog-post-footer">
				        	<p><%= post.body.substring(0, 200) %>...</p>
				        	<a href="/posts/<%= post.id %>" class="">
				        		Continue reading
				        	</a>
				        	<p class="read text-muted"><%= post.read %> min read</p>
				        </footer>
			        </article>
		        <% }); %>
      		</div><!-- /.blog-post -->
    	</div><!-- /.blog-main -->

    	<aside class="col-md-4 blog-sidebar">
    		<% include ./partials/sidebar %>	
    	</aside><!-- /.blog-sidebar -->
  	</div><!-- /.row -->
</main><!-- /.container -->

<script>
	const posts = { features: <%- JSON.stringify(posts) %> };
</script>
