<% layout('layouts/boilerplate') -%>
<section id="featured">
	<div class="container">
		<div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
			<% posts.docs.forEach(function(post){ %>
				<% if (post.mainPost) { %>
				    <div class="col-md-7 px-0">
				      	<h1 class="main-title font-italic"><%= post.title %></h1>
				      	<p class="lead my-3"><%= post.body.substring(0, 200) %>...</p>
				      	<p class="lead mb-0">
				      		<a href="/posts/<%= post.id %>" class="text-white font-weight-bold stretched-link">
				      			Continue reading
				      		</a>
				      	</p>
				    </div>
			    <% } %>
		    <% }); %>
		</div>

	  	<div class="row mb-2">
	  		<% posts.docs.forEach(function(post){ %>
				<% if (post.featuredPost) { %>
	    			<div class="col-md-6"> 		
			      		<div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
			        		<div class="col p-4 d-flex flex-column position-static">
			          			<strong class="d-inline-block mb-2 text-primary">#<%= post.category %></strong>
			          			<h2 class="mb-0"><%= post.title %></h2>
			          			<div class="mb-1 text-muted"><%= moment(post.createdAt).format('MMM DD') %></div>
			          			<p class="card-text mb-auto"><%= post.body.substring(0, 50) %>...</p>
			          			<a href="/posts/<%= post.id %>" class="stretched-link">Continue reading</a>
			        		</div>
			        		<div class="col-auto d-none d-lg-block">
			        			<% post.images.forEach(function(image){ %>	
				          			<img 
				          				src="<%= image.url %>"
				          				class="img-responsive" 
				          				width="200" height="250" 
				          				alt="<%= post.title %>'s image" 
				          				title="<%= post.title %>'s image"
				          				loading="lazy"
				          			/>
			          			<% }) %>
			        		</div>
			      		</div>
	    			</div>
	    		<% } %>
		    <% }); %>
	  	</div>
	</div>
</section>

<main
	id="main" 
	class="main container"
	tabindex="-1"
	role="main">
  	<div class="row">
    	<div class="col-md-8 main-div">
    		<section class="trending-posts">
	      		<h2 class="pb-4 mb-4 font-italic border-bottom section-header">
	        		Trending Articles!
	      		</h2>

	      		<div class="trending-article">
	      			<% posts.docs.forEach(function(post){ %>
		      			<% if (post.reviews.length > 1) { %>
		      				<article>
			      				<header class="blog-post-header">
					        		<h3 class="blog-post-title"><%= post.title %></h3>
					        		<p class="read text-muted"><%= post.read %> min read</p>
					        		<strong class="d-inline-block mb-2 text-primary">#<%= post.category %></strong>
								</header>
				        		<p><%= post.body.substring(0, 300) %>...</p>
				        		<p class="blog-post-meta"><%= moment(post.createdAt).format('MMMM DD, YYYY') %></p>
				        		<p class="blog-post-meta"><i class="fas fa-comments"></i> <%= post.reviews.length %> Comments</p>
					        	<a href="/posts/<%= post.id %>" class="">
					        		Continue reading
					        	</a>
					        </article>
						<% } %>
			        <% }); %>
	      		</div><!-- /.blog-post -->
			</section>
			<section class="top-products">
	      		<h2 class="pb-4 mb-4 font-italic border-bottom section-header">
	        		Top Products!
	      		</h2>
				
	      		<div class="product">
	      			<div class="card" style="width: 18rem;">
					  	<img 
					  		src="https://images.unsplash.com/photo-1543185377-99cd16011803?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjExODA5M30" 
					  		class="card-img-top" 
					  		class="img-responsive"
							title="Product image"
							loading="lazy"
					  		alt="Product image"
					  	/>
					  	<div class="card-body">
					    	<h3 class="card-title">Video Maker</h3>
					    	<p class="card-text">Make awesome, professional videos easily for your YouTube channel or anything you want.</p>
					    	<a href="#" class="btn btn-primary">View Product</a>
					  	</div>
					</div>
	      		</div><!-- /.blog-post -->
			</section>
    	</div><!-- /.main-div -->

    	<aside class="col-md-4 blog-sidebar">
    		<% include ./partials/sidebar %>	
    	</aside><!-- /.blog-sidebar -->
  	</div><!-- /.row -->
</main><!-- /.container -->

<script>
	const posts = { features: <%- JSON.stringify(posts) %> };
</script>
