<% layout('layouts/boilerplate') -%>
<!-- FEATURED POST SECTION -->
<section id="featured">
	<div class="container">
		<!-- MAIN POST START -->
		<div class="jumbotron p-4 p-md-5 main-post">
			<% posts.docs.forEach(function(post){ %>
				<% if (post.mainPost) { %>
				   <div class="col-md-7 px-0">
				    	<header class="page-header">
			      		<h1 class="page-title font-italic"><%= post.title %></h1>
			      	</header>
				      <p class="lead my-3"><%- post.body.substring(0, 200) %>[...]</p>
				      <p class="lead mb-0">
			      		<a
			      			href="/blog/<%= post.id %>"
			      			class="text-white font-weight-bold stretched-link"
			      		>
			      			Read more
			      		</a>
			      	</p>
				   </div>
			   <% } %>
		   <% }); %>
		</div>
		<!-- MAIN POST END -->

		<!-- FEATURED POST START -->
	  	<div class="row mb-2">
	  		<% posts.docs.forEach(function(post){ %>
				<% if (post.featuredPost) { %>
	    			<div class="col-md-6">
			      	<div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative featuredPost">
			        	<div class="col p-4 d-flex flex-column position-static">
			          	<strong class="post-category">#<%= post.category %></strong>
			          		<h2 class="mb-0"><%= post.title %></h2>
			          		<div class="mb-1 text-gray">
			          			<small><i class="icon far fa-calendar-alt"></i> <%= moment(post.createdAt).format('MMM DD') %></small>
			          		</div>
			          		<p class="card-text mb-auto"><%- post.body.substring(0, 50) %>[...]</p>
			          		<a href="/blog/<%= post.id %>" class="color-blue stretched-link">Read more</a>
			        		</div>
			        		<div class="col-auto d-none d-lg-block featuredPost-image">
		          			<img
		          				src="<%= post.images[0].url %>"
		          				class="card-img-right img-responsive"
		          				alt="<%= post.title %>'s image"
		          				title="<%= post.title %>'s image"
		          				loading="lazy"
		          			/>
			        		</div>
			      	</div>
	    			</div>
	    		<% } %>
		   <% }); %>
	  	</div>
	  	<!-- FEATURED POST END -->
	</div>
</section>
<!-- FEATURED POST SECTION -->

<!-- MAIN SECTION START -->
<main
	id="main"
	class="main container"
	tabindex="-1"
	role="main"
>
  	<div class="row"><!-- ROW -->
  		<!-- MAIN CONTENT START -->
    	<div class="col-md-8 main-content">
    		<!-- HOME ARTICLES SECTION START -->
    		<section class="section home-articles">
	      	<h2 class="pb-4 mb-4 font-italic border-bottom section-title">
	        		Featured Articles!
	      	</h2>

	      	<div class="blog-post"><!-- ARTICLE CONTAINER -->
	      		<% posts.docs.forEach(function(post){ %>
	      			<% if (post.homeArticle) { %>
	      				<article data-aos="fade-right">
		      				<header class="blog-post-header">
					        		<h3 class="blog-post-title"><%= post.title %></h3>
					        		<p class="article-meta text-gray">
					        			<small><i class="icon far fa-calendar-alt"></i> <%= moment(post.createdAt).format('MMMM DD, YYYY') %> · <span class="read text-gray"><i class="icon far fa-clock"></i> <em><%= post.read %> min read</em></span></small>
					        		</p>
					        		<small class="article-meta">
						        		<strong class="post-category">#<%= post.category %></strong>
						        		<strong class="post-tag">#<%= post.tag %></strong>
					        		</small>
								</header>

				        		<div class="blog-post-body">
				        			<p><%- post.body.substring(0, 300) %>[...]</p>
						       </div>

						      <footer class="blog-post-footer">
						        	<p class="blog-post-meta text-gray">
						        		<small>
						        			<i class="icon fas fa-comments"></i> <%= post.reviews.length %> <%= post.reviews.length === 1 ? 'Comment' : 'Comments' %>
						        		</small>
						        	</p>

						        	<a href="/blog/<%= post.id %>" class="color-blue">
						        		Read more
						        	</a>
						      </footer>
					      </article>
						<% } %>
			       <% }); %>
	      	</div><!-- ARTICLE CONTAINER -->
			</section>
			<!-- HOME ARTICLES SECTION END -->

			<!-- HOME TOOLS SECTION START -->
    		<section class="section featured-tools">
	      	<h2 class="pb-4 mb-4 font-italic border-bottom section-title">
	        		Top Tools!
	      	</h2>
      		<div class="row tool-row">
      			<% tools.docs.forEach(function(tool){ %>
	      			<% if (tool.topTool) { %>
	      				<div class="col-md-6 product">
			      			<div class="card tool-card" style="width: 15rem;">
			      				<% tool.images.forEach(function(image){ %>
				          			<img
				          				src="<%= image.url %>"
				          				class="card-img-top img-responsive"
				          				alt="<%= tool.title %>'s image"
				          				title="<%= tool.title %>'s image"
				          				loading="lazy"
				          			/>
			          			<% }) %>
								  	<div class="card-body">
								    	<h3 class="card-title footer-heading"><%= tool.title %></h3>
								    	<p class="card-text"><%- tool.description.substring(0, 80) %>[..]</p>
								    	<a href="/tools/<%= tool.id %>" class="btn btn-alt">View Tool &raquo;</a>
								  	</div>
								</div>
				      	</div>
						<% } %>
			      <% }); %>
	      	</div>
			</section>
			<!-- HOME TOOLS SECTION END -->
    	</div>
    	<!-- MAIN CONTENT END -->

    	<!-- SIDEBAR START -->
    	<aside class="col-md-4 blog-sidebar">
    		<% include ./partials/sidebar %>
    	</aside>
    	<!-- SIDEBAR END -->
  	</div><!-- ROW -->
</main>
<!-- MAIN SECTION END -->

<script>
	const posts = { features: <%- JSON.stringify(posts) %> };
</script>
