<% layout('layouts/boilerplate') -%>
<main
	id="main" 
	class="main container"
	tabindex="-1"
	role="main">
  	<div class="row">
    	<div class="col-md-8 blog-main">
      		<div class="single-blog-post">
      			<div class="card mb-3">
      				<% post.images.forEach(function(image){ %>
						<img 
							src="<%= image.url %>" 
							class="card-img-top img-responsive single-blog-post-image" 
							alt="<%= post.title %>'s image" 
				          	title="<%= post.title %>'s image"
						>
					<% }) %>
					<div class="card-body">
		      			<article>
		      				<header class="single-blog-post-header">
				        		<h1 class="card-title single-blog-post-title"><%= post.title %></h1>
				        		<p class="single-blog-post-meta"><%= moment(post.createdAt).format('MMMM DD, YYYY') %></p>
				        		<strong class="d-inline-block mb-2 text-primary">#<%= post.category %></strong>
				        		<p class="read text-muted"><%= post.read %> min read</p>
							</header>
							<section class="single-blog-post-body">	
			        			<p><%- post.body %></p>
					        </section>
					        <section>
					        	<p><%- post.footer %></p>
					        </section>
					        <footer class="single-blog-post-footer">
					        	<hr>
								<% if (currentUser && post.author.equals(currentUser._id)) { %>
									<a class="float-right" href="/posts/<%= post.id %>/edit">
										<button class="btn-sm edit-post-btn">
											<i class="fas fa-edit"></i> Edit post
										</button>
									</a>
									<form 
										class="float-right" 
										action="/posts/<%= post.id %>?_method=DELETE" 
										method="POST"
									>
										<button class="delete-post-btn btn-sm">
											<i class="fas fa-trash"></i> Delete
										</button>
									</form>
								<% } %>
					        	<a href="/">Go Back</a>
					        </footer>
				        </article>
			        </div>
		        </div>
      		</div><!-- /.blog-post -->
    	</div><!-- /.blog-main -->

    	<aside class="col-md-4 blog-sidebar">
    		<% include ../partials/sidebar %>	
    	</aside><!-- /.blog-sidebar -->
  	</div><!-- /.row -->
</main><!-- /.container -->

<div class="card mb-3">
  	<img src="..." class="card-img-top" alt="...">
  	<div class="card-body">
    	<h1 class="card-title"><%= post.title %></h1>
    	<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
   		 <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
  	</div>
</div>

<h1></h1>
<div>Price: R <%= post.price %></div>
<div><%= post.description %></div>
<div><%= post.location %></div>

<div>
	<% post.images.forEach(function(image){ %>
		<img src="<%= image.url %>" alt="skateboard image" width="100px">
	<% }) %>
</div>
<div id='map'></div>
<% if (currentUser && post.author.equals(currentUser._id)) { %>
<div>
	<a href="/posts/<%= post.id %>/edit">
		<button>Edit post</button>
	</a>
</div>

<div>
	<form action="/posts/<%= post.id %>?_method=DELETE" method="POST">
		<input type="submit" value="Delete">
	</form>
</div>
<% } %>

<% if (currentUser) { %>
<h2>Create a review</h2>
<form action="/posts/<%= post.id %>/reviews" method="POST">
	<textarea name="review[body]" required=""></textarea>
	<fieldset class="starability-basic">
		<legend>Rating:</legend>
		<button class="clear-rating" type="button">Clear Rating</button>
		<input type="radio" id="rate0" class="input-no-rate" name="review[rating]" value="0" checked aria-label="No rating." />
		<input type="radio" id="rate1" name="review[rating]" value="1" />
		<label for="rate1" title="Terrible">1 star</label>
		<input type="radio" id="rate2" name="review[rating]" value="2" />
		<label for="rate2" title="Not good">2 stars</label>
		<input type="radio" id="rate3" name="review[rating]" value="3" />
		<label for="rate3" title="Average">3 stars</label>
		<input type="radio" id="rate4" name="review[rating]" value="4" />
		<label for="rate4" title="Very good">4 stars</label>
		<input type="radio" id="rate5" name="review[rating]" value="5" />
		<label for="rate5" title="Amazing">5 stars</label>
	</fieldset>

	<input type="submit">
</form>
<% } else { %>
<h2><a href="/login?returnTo=true">Create a review</a></h2>
<% } %>

<h3>Reviews</h3>
<!-- display all reviews -->
<% post.reviews.forEach(function(review) { %>
	<div>
		Author: <%= review.author.username %> <br>
		<%= review.body %> <br>

	</div>
	<% if (currentUser && review.author.equals(currentUser._id)) { %>
	<div>
		<button class="toggle-edit-form">Edit</button>

		<form action="/posts/<%= post.id %>/reviews/<%= review.id %>?_method=PUT" method="POST" class="edit-review-form">
			<textarea name="review[body]" required><%= review.body %></textarea>
			<fieldset class="starability-basic">
				<legend>Rating:</legend>
				<button class="clear-rating" type="button">Clear Rating</button>
				<input type="radio" id="edit-rate0" class="input-no-rate" name="review[rating]" value="0" checked aria-label="No rating." />
				<input type="radio" id="edit-rate1" name="review[rating]" value="1" />
				<label for="edit-rate1" title="Terrible">1 star</label>
				<input type="radio" id="edit-rate2" name="review[rating]" value="2" />
				<label for="edit-rate2" title="Not good">2 stars</label>
				<input type="radio" id="edit-rate3" name="review[rating]" value="3" />
				<label for="edit-rate3" title="Average">3 stars</label>
				<input type="radio" id="edit-rate4" name="review[rating]" value="4" />
				<label for="edit-rate4" title="Very good">4 stars</label>
				<input type="radio" id="edit-rate5" name="review[rating]" value="5" />
				<label for="edit-rate5" title="Amazing">5 stars</label>
			</fieldset>

			<input type="submit" value="Update">
		</form>

		<script>
			$('#edit-rate<%= review.rating %>').prop('checked', true);
		</script>

		<form action="/posts/<%= post.id %>/reviews/<%= review.id %>?_method=DELETE" method="POST">
			<input type="submit" value="Delete">
		</form>
	</div>
	<% }; %>
	<hr>
<% }); %>