<% layout('layouts/boilerplate') -%>
<!-- MAIN SECTION START -->
<main
	id="main"
	class="main container"
	tabindex="-1"
	role="main"
>

	<nav class="breadcrumbNav" aria-label="breadcrumb">
  		<ol class="breadcrumb">
    		<li class="breadcrumb-item"><a class="color-blue" href="/">Home</a></li>
    		<li class="breadcrumb-item"><a class="color-blue" href="/blog">Blog</a></li>
    		<li class="breadcrumb-item"><a class="color-blue" href="/blog/<%= post.categoryUrl %>"><%= post.category %></a></li>
    		<li class="breadcrumb-item active" aria-current="page"><%= post.title %></li>
  		</ol>
	</nav>

  	<div class="row"><!-- ROW -->
  		<!-- MAIN CONTENT START -->
    	<div class="col-md-8 main-content">
    		<!-- ARTICLE START -->
      	<section class="section">
      		<div class="card show-main"><!-- ARTICLE CONTAINER -->
					<img
						src="<%= post.images[1].url %>"
						class="card-img-top img-responsive single-blog-post-image"
						alt="<%= post.title %>'s image"
			         title="<%= post.title %>'s image"
			         loading="lazy"
					>
					<div class="card-body">
		      		<article class="post-show-article">
		      			<header class="blog-post-header">
				        		<h1 class="card-title page-title"><%= post.title %></h1>
				        		<p class="article-meta text-gray">
				        			<small><i class="icon far fa-calendar-alt"></i> <%= moment(post.createdAt).format('MMMM DD, YYYY') %> · <span class="read text-gray"><i class="icon far fa-clock"></i> <em><%= post.read %> min read</em></span></small>
				        		</p>
				        		<small class="article-meta">
					        		<strong class="post-category">#<%= post.category %></strong>
					        		<strong class="post-tag">#<%= post.tag %></strong>
				        		</small>
							</header>

							<div class="blog-post-body">
			        			<p><%- post.body %></p>
					      </div>

					      <div class="admin-buttons">
					      <hr>
							<% if (currentUser && post.author.equals(currentUser._id)) { %>
								<a class="float-right" href="/blog/<%= post.id %>/edit">
									<button class="btn btn-sm edit-btn">
										<i class="icon fas fa-edit"></i> Edit post
									</button>
								</a>
								<form
									class="float-right"
									action="/blog/<%= post.id %>?_method=DELETE"
									method="POST"
								>
									<button class="btn btn-sm delete-btn">
										<i class="icon fas fa-trash"></i> Delete
									</button>
								</form>
							<% } %>
					        	<a class="color-blue" href="/blog/<%= post.categoryUrl %>">Go Back</a>
					        </div>
				      </article>
			        </div>
		        </div>
      		</section>
      		<!-- ARTICLE END -->

      		<!-- COMMENT SECTION START -->
      		<section class="section">
	      		<div class="card comments-card">
	      			<h2 class="card-header section-title">Comments</h2>

	      			<!-- create comment -->
				  	<div class="card-body comment-card-body">
				  		<% if (currentUser) { %>
							<p class="card-text"><i class="icon fas fa-pen-alt"></i> Leave a comment</p>

							<form
								action="/blog/<%= post.id %>/reviews"
								method="POST"
								class="post-comment-form"
							>
								<div class="form-group">
									<textarea
										name="review[body]"
										id="comment"
										class="form-control"
										maxlength="1000"
										pattern="[a-zA-Z\s0-9]{10,}"
										title="Message can be a series of alphabetic and numeric characters only (min 10, max 1000)."
										rows="4"
										placeholder="Your comment"
										required
									></textarea>
								</div>

								<div class="form-group">
									<button class="btn submit-btn">
										Submit
									</button>
								</div>
							</form>

							<hr class="comment-underline">

						<% } else { %>
							<p class="card-text">
								<a class="color-blue" href="/sign-in?returnTo=true">
									<i class="icon fas fa-pen-alt"></i> Leave a comment
								</a>
							</p>
						<% } %>
						<!-- create comment -->

				    	<!-- display all reviews -->
				    	<p class="recent-comments">
				    		<i class="icon fas fa-comments"></i> <strong>Recent Comments <small>(<%= post.reviews.length %>)</small></strong>
				    	</p>

				    	<!-- no reviews yet -->
				    	<% if (post.reviews.length === 0) { %>
							<em class="no-comments">No comments yet.</em>
						<% } %>

						<!-- single review -->
						<% post.reviews.forEach(function(review) { %>
							<!-- show reviews -->
							<div class="media text-gray">
								<img
									src="<%= review.author.image.secure_url %>"
									class="mr-2 rounded mt-2 review-author-img"
									alt="<%= review.author.username %>'s profile image"
						  			title="<%= review.author.username %>'s profile image"
						  			loading="lazy"
						  			width="40"
									height="40"
								/>

								<p class="media-body mb-0 lh-125">
									<strong class="d-block text-gray-dark username">
										<%= review.author.username %>
									</strong>
									<%= review.body %>
								</p>

								<span class="pull-right small"><%= moment(review.createdAt).fromNow() %></span>
							</div>
							<!-- SHOW REVIEW END-->

							<!-- EDIT REVIEW -->
							<% if (currentUser && review.author.equals(currentUser._id)) { %>
								<div class="edit-review-container">
									<!-- edit button -->
									<button class="btn btn-sm edit-btn toggle-edit-form">Edit</button>

									<!-- delete button -->
									<form
										class="d-inline"
										action="/blog/<%= post.id %>/reviews/<%= review.id %>?_method=DELETE"
										method="POST"
									>
										<button class="btn delete-btn btn-sm" type="submit">Delete</button>
									</form>

									<!-- edit review form -->
									<form
										action="/blog/<%= post.id %>/reviews/<%= review.id %>?_method=PUT"
										method="POST"
										class="edit-comment-form"
									>
										<div class="card edit-review-card">
										  	<div class="card-body">
												<div class="form-group">
													<label class="form-label" for="edit-review">Edit Comment</label>
													<textarea
														id="edit-review"
														class="form-control"
														name="review[body]"
														maxlength="1000"
														pattern="[a-zA-Z\s0-9]{10,}"
														title="Message can be a series of alphabetic and numeric characters only (min 10, max 1000)."
														rows="4"
														required
													><%= review.body %></textarea>
												</div>
												<button class="btn btn-sm update-btn">Update Comment</button>
										  	</div>
										</div>
									</form>
									<!-- edit review form -->
								</div>
								<!-- EDIT REVIEW -->
							<% }; %>
							<hr>
						<% }); %>
						<!-- single review end -->
				  	</div>
				</div>
			</section>
			<!-- COMMENT SECTION END -->

			<!-- RELATED POSTS SECTION START -->
			<section class="related-posts">

				<h2 class="section-title">Also Check Out</h2>

				<!-- related post -->
				<% relatedPosts.forEach(function(relatedPost){ %>
					<div class="card related-post-card" style="">
					  	<div class="row no-gutters">
					    	<div class="col-md-4">
								<img
									src="<%= relatedPost.images[1].url %>"
									class="card-img img-responsive related-post-image"
									alt="<%= relatedPost.title %>'s image"
					          	title="<%= relatedPost.title %>'s image"
					          	loading="lazy"
								>
					    	</div>
					    	<div class="col-md-8">
					      		<div class="card-body">
					        		<h3 class="card-title section-sub__header"><%= relatedPost.title %></h3>

					        		<small class="article-meta">
						        		<strong class="post-category">#<%= post.category %></strong>
						        		<strong class="post-tag">#<%= post.tag %></strong>
						        		<span class="read text-gray d-block float-right"><i class="icon far fa-clock"></i> <%= relatedPost.read %> min read</span>
					        		</small>


					        		<p class="card-text"><a class="color-blue" href="/blog/<%= relatedPost.id %>" class="stretched-link">Read Now</a></p>
					      		</div>
					    	</div>
					  	</div>
					</div>
				<% }); %>
				<!-- related post -->
			</section>
			<!-- RELATED POSTS SECTION START -->
    	</div>
    	<!-- MAIN CONTENT END -->

    	<!-- SIDEBAR START -->
    	<aside class="col-md-4 blog-sidebar">
    		<% include ../partials/sidebar %>
    	</aside>
    	<!-- SIDEBAR END -->
  	</div><!-- ROW -->
</main>
<!-- MAIN SECTION END -->

<script>
	var post = <%- JSON.stringify(post) %>;
	var posts = <%- JSON.stringify(posts) %>;
</script>
