<% layout('layouts/boilerplate') -%>
<!-- PAGE HEADER -->
<header>
	<div class="container">
		<div class="jumbotron jumbotron-fluid">
		  	<div class="container">
		    	<h1 class="font-italic page-t">Web Development Articles</h1>
		    	<p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
		  	</div>
		</div>
	</div>
</header>
<!-- PAGE HEADER -->

<!-- MAIN SECTION START -->
<main
	id="main" 
	class="main container"
	tabindex="-1"
	role="main"
>
  	<div class="row"><!-- ROW -->
  		<!-- MAIN CONTENT START -->
    	<div class="col-md-8 main-content">
      		<div class="blog-post"><!-- ARTICLE CONTAINER -->
      			<% posts.docs.forEach(function(post){ %>
      				<% if (post.category === 'Web Development') { %>
		      			<article>
		      				<header class="blog-post-header">
				        		<h2 class="blog-post-title"><%= post.title %></h2>
				        		<p class="article-meta text-muted">
				        			<small><i class="far fa-calendar-alt"></i> <%= moment(post.createdAt).format('MMMM DD, YYYY') %> · <span class="read text-muted"><i class="far fa-clock"></i> <em><%= post.read %> min read</em></span></small>
				        		</p>
				        		<small class="article-meta">
					        		<strong class="d-inline-block mb-2 text-primary">#<%= post.category %></strong>
					        		<strong class="d-inline-block mb-2 text-success">#<%= post.tag %></strong>
				        		</small>
							</header>

							<section class="blog-post-body">	
			        			<p><%= post.body.substring(0, 500) %>...</p>
					        </section>

					        <footer class="blog-post-footer">
					        	<p class="blog-post-meta"><small><i class="fas fa-comments"></i> <%= post.reviews.length %> <%= post.reviews.length === 1 ? 'Comment' : 'Comments' %></small></p>
					        	<a href="/blog/<%= post.id %>" class="">Continue reading...</a>
					        </footer>
				        </article>
			        <% } %>
		        <% }); %>
      		</div><!-- ARTICLE CONTAINER -->
      		<!-- PAGINATION -->
			<% include ../partials/paginatePosts %>
    	</div>
    	<!-- MAIN CONTENT START -->

    	<!-- SIDEBAR START -->
    	<aside class="col-md-4 blog-sidebar">
    		<% include ../partials/sidebar %>	
    	</aside>
    	<!-- SIDEBAR END -->
  	</div><!-- ROW -->
</main>
<!-- MAIN SECTION END -->

<script>
	var posts = { features: <%- JSON.stringify(posts) %> };
</script>
