<% layout('layouts/boilerplate') -%>
<section id="featured">
	<div class="container">
		<div class="jumbotron p-4 p-md-5 text-white rounded bg-dark web-dev-jumbotron">
			<% posts.docs.forEach(function(post){ %>
				<% if (post.mainPost) { %>
				    <div class="col-md-7 px-0">
				      	<h1 class="main-post-title font-italic"><%= post.title %></h1>
				      	<p class="lead my-3"><%= post.body.substring(0, 200) %>...</p>
				      	<p class="lead mb-0">
				      		<a href="/posts/<%= post.id %>" class="text-white font-weight-bold stretched-link">
				      			Continue reading...
				      		</a>
				      	</p>
				    </div>
			    <% } %>
		    <% }); %>
		</div>
	</div>
</section>

<main
	id="main" 
	class="main container"
	tabindex="-1"
	role="main">
  	<div class="row">
    	<div class="col-md-8 blog-main">
      		<h3 class="pb-4 mb-4 font-italic border-bottom">
        		Latest Web Development Posts
      		</h3>

      		<div class="blog-post">
      			<% posts.docs.forEach(function(post){ %>
      				<% if (post.category === 'Web Development') { %>
	      			<article>
	      				<header class="blog-post-header">
			        		<h2 class="blog-post-title"><%= post.title %></h2>
			        		<p class="blog-post-meta"><%= moment(post.createdAt).format('MMMM DD, YYYY') %></p>
			        		<strong class="d-inline-block mb-2 text-primary">#<%= post.category %></strong>
						</header>
						<section class="blog-post-body">	
		        			<p><%= post.body.substring(0, 300) %>...</p>
				        </section>
				        <footer class="blog-post-footer">
				        	<p><%= post.body.substring(0, 200) %>...</p>
				        	<a href="/posts/<%= post.id %>" class="">Continue reading...</a>
				        	<p class="read text-muted"><%= post.read %> min read</p>
				        </footer>
			        </article>
			        <% } %>
		        <% }); %>
      		</div><!-- /.blog-post -->
			<% include ../partials/paginatePosts %>
    	</div><!-- /.blog-main -->

    	<aside class="col-md-4 blog-sidebar">
    		<% include ../partials/sidebar %>	
    	</aside><!-- /.blog-sidebar -->
  	</div><!-- /.row -->
</main><!-- /.container -->

<script>
	var posts = { features: <%- JSON.stringify(posts) %> };
</script>
