<% layout('layouts/boilerplate') -%>
<header>
	<div class="container">
		<div class="jumbotron jumbotron-fluid">
		  	<div class="container">
		    	<h1 class="font-italic page-header">#Web Development Articles</h1>
		    	<p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
		  	</div>
		</div>
	</div>
</header>

<main
	id="main" 
	class="main container"
	tabindex="-1"
	role="main">
  	<div class="row">
    	<div class="col-md-8 blog-main">
      		<div class="blog-post">
      			<% posts.docs.forEach(function(post){ %>
      				<% if (post.category === 'Web Development') { %>
	      			<article>
	      				<header class="blog-post-header">
			        		<h2 class="blog-post-title"><%= post.title %></h2>
			        		<p class="blog-post-meta"><%= moment(post.createdAt).format('MMMM DD, YYYY') %></p>
			        		<strong class="d-inline-block mb-2 text-primary">#<%= post.category %></strong>
						</header>
						<section class="blog-post-body">	
		        			<p><%= post.body.substring(0, 300) %>...</p>
				        </section>
				        <footer class="blog-post-footer">
				        	<p><%= post.body.substring(0, 200) %>...</p>
				        	<a href="/posts/<%= post.id %>" class="">Continue reading...</a>
				        	<p class="read text-muted"><%= post.read %> min read</p>
				        </footer>
			        </article>
			        <% } %>
		        <% }); %>
      		</div><!-- /.blog-post -->
			<% include ../partials/paginatePosts %>
    	</div><!-- /.blog-main -->

    	<aside class="col-md-4 blog-sidebar">
    		<% include ../partials/sidebar %>	
    	</aside><!-- /.blog-sidebar -->
  	</div><!-- /.row -->
</main><!-- /.container -->

<script>
	var posts = { features: <%- JSON.stringify(posts) %> };
</script>
